* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1vh;
    background-color: #2C2C2C;
}

body h1 {
    font-size: 3rem;
    text-align: center;
}

.inicio {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.inicio h1, .inicio label {
    color: lightgray;
}

.inicio .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: gray;
    padding: 20px;
    border-radius: 200px;
    gap: 12px;
}

.inicio .formulario .memoria button {
    margin: 0 5px;
}

.inicio .formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formulario input {
    width: 210px;
    height: 40px;
    font-size: 1.5rem;
}

.formulario form button, .formulario form input, .formulario button {
    width: 140px;
    height: 30px;
    font-size: 1rem;
    border: none;
    box-shadow: 0px 2px 5px black;
    background-color: lightgrey;
    border-radius: 15px;
}

.formulario form input {
    padding: 5px 15px;
}

.formulario 

.mesa-juego h2 {
    font-size: 2rem;
}

.formulario label {
    font-size: 1.5rem;
}

.formulario form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mesa-juego {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(80, 80, 80);
}

.mesa-juego .cartas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #2C2C2C;
    min-height: 650px;
    height: auto;
    gap: 15px;
}

.mesa-juego .cartas .jugadas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-top: 10px;
}

.mesa-juego .cartas .jugadores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px 20px;
}

.mesa-juego .cartas .jugadas .mesa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 800px;
    padding: 50px;
    background-color: rgb(25, 45, 74);
    border-radius: 1000px;
    box-shadow: inset 0 0 0 15px rgb(16, 29, 48); 

}

.lugar-carta {
    height: 180px;
    width: 120px;
    padding: 10px;
    background-color: rgb(16, 29, 48);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mesa-juego .cartas .jugadas .mesa .cartas-jugadas {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.mesa-juego .cartas .jugadores .jugador1, .mesa-juego .cartas .jugadores .jugador2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.mesa-juego .cartas .carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 90px;
    background-color: wheat;
    border-radius: 5px;
    box-shadow: 0 0 5px white;
}

.mesa-juego .cartas .carta button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.mesa-juego .cartas .reglas {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.4);
    margin: 10px 40px;
    width: auto;
    gap: 20px;
}

.mesa-juego .cartas .reglas .columna {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px 40px; 
}

.mesa-juego .cartas .reglas ul li {
    font-size: 1.2rem;
}
